<!doctype html>
<html>
  <head>
    <title>Shakespeare GPT</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <!-- GitHub Link -->
    <a
      href="https://github.com/NithinVikas-AV/Shakespeare-GPT"
      class="github-link"
      target="_blank"
    >
      GitHub
    </a>

    <div class="container">
      <!-- LEFT PANEL -->
      <div class="left-panel">
        <h1>Shakespeare GPT</h1>

        <label>Select Model</label>
        <select id="model">
          <option value="small">Small</option>
          <option value="medium" selected>Medium</option>
          <option value="large">Large</option>
        </select>

        <label>Start Phrase</label>
        <textarea
          id="prompt"
          rows="6"
          placeholder="Enter your Starting Phrase here..."
        ></textarea>

        <div class="input-row">
          <div>
            <label>Temperature (0 - 5)</label>
            <input type="number" id="temperature" value="1.0" step="0.1" />
          </div>

          <div>
            <label>Max Tokens</label>
            <input type="number" id="max_tokens" value="200" />
          </div>
        </div>

        <button onclick="generateText()">Generate</button>

        <h3>Output</h3>
        <div id="output-box">
          <p id="output"></p>
        </div>
      </div>

      <!-- RIGHT PANEL -->
      <div class="right-panel">
        <h3>Model Configuration</h3>

        <table id="model-table"></table>
      </div>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
